.cart {
  margin: 1rem;
  padding: 1rem;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list {
  margin-top: 3rem;
}

.cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-footer p,
.cart-footer button {
  flex: 1;
  margin: 1rem;
}

.cart-footer p {
  font-size: 2rem;
  text-align: center;
}
.form-input-holder {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-input-holder input {
  border: 1px #c0c0c0 solid;
  height: 4rem;
  margin: 1rem 0rem;
  padding: 0.1rem 0.5rem;
}
.form-submit-button input {
  width: 100%;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.success-message {
  color: green;
}
